<body>
      <header>
    <h2 class="text-xl p-5">
      Current Projects
    </h2>
  </header>
 
  <div class="flex justify-center pt-9">
    <table class="table-auto bg-off-white text-black border-collapse border md:flex-grow object-center" >
      <thread>
        <tr>
          <th class="border-2 px-4">Department</th>
          <th class="border-2 px-4">Project</th>
          <th class="border-2 px-4">Assigned</th>
        </tr>
      </thread>
      <tbody>
        {{#each this}}
        <tr>
         <td class="border-2 px-4 text-center">Department 1</td>
         <td class="border-2 px-4 text-center">{{projecName}}</td>
          <td class="border-2 px-4 text-center">{{firstName}}{{lastName}}</td>
        </tr>
        <tr>
          <td class="border-2 px-4 text-center">Department 2</td>
          <td class="border-2 px-4 text-center">{{projecName}}</td>
          <td class="border-2 px-4 text-center">{{firstName}}{{lastName}}</td>
        </tr>
        <tr>
          <td class="border-2 px-4 text-center">Department 3</td>
          <td class="border-2 px-4 text-center">{{projecName}}</td>
          <td class="border-2 px-4 text-center">{{firstName}}{{lastName}}</td>
        </tr>
      </tbody>
    </table>
  </div>


    <main>
  <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
    <div class="px-4 py-6 sm:px-0">

      <div class="h-96 rounded-lg border-2 border-solid invisible md:place-content-center md:justify-evenly lg:visible lg:flex-nowrap lg:justify-center lg:gap-6 lg:pr-5 xl:visible xl:justify-center flex-wrap place-items-center flex justify-center border-gray-200 bg-off-white pt-7">
        <h1>
        </h1>
        {{#each projects}}
        <div class="rounded shadow-xl bg-gradient-to-t from-dark-background to-black my-4 text-xl font-bold w-64 h-48 p-4 visible">
          <h1 class="text-center">My Projects</h1>
          <hr>
          <br>
          <p class="text-center">{{this.projecName}}</p>
        </div>
        <!-- Card for project status -->
        <div class="rounded shadow-xl  bg-gradient-to-t from-dark-background to-black my-4 text-xl font-bold  w-64 h-48 p-4 visible" id="project">
          <p class="text-center">Weekly Deadlines</p>
          <hr>
          <br>
          <p class="text-center">{{this.progress}}</p>
        </div>
      </div>
    </div>
    <!-- /End replace -->
  </div>
</main>
</body>